@font-face {
    font-family: "Code font";
    src: url("fonts/JetBrainsMono-1.0.3/ttf/JetBrainsMono-Medium.ttf");
}

@font-face {
    font-family: "Main font";
    src: url("fonts/Bitter/Bitter-Medium.ttf");
}

body {
    background-color: black;
    overflow-y: hidden;
}

pre {
    overflow-x: auto;
    line-height: 125%;
    font-family: 'Code font', monospace;
    font-size: 16px;
    padding: 20px;

    border-radius: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Main font";
}

blockquote {
    background-color: black;
    color: rgb(151, 151, 151);
    border-radius: 5px;
    padding-left: 10px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
}

code {
    font-family: 'Code font', monospace;
}

a:link {
    color: gold;
}

a:visited {
    color: goldenrod;
}

.codehilite {
    border-radius: 10px;
}

.content {
    grid-area: Main-Screen;
    overflow: scroll;
    overflow-x: hidden;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
        Helvetica, Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol";

    font-size: 16px;
    /* line-height: 1.5; */
    color: rgb(205, 205, 205);
    background-color: rgb(44, 44, 44);

    /* max-width: 850px; */
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 2.5px;
    border-radius: 5px;

    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.content::-webkit-scrollbar {
    display: none;
}

/* Style the header */
.header {
    display: none;
    background: #555;
    color: #f1f1f1;
    text-align: center;
    padding-top: 10px;
}

.header.smaller-screen {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    padding-left: 10px;
    padding-right: 10px;
}

.header-title>h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}